    /* * {
    width: tamaño;
    height: tamaño;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 13px;
    padding-bottom: 5px;
    padding: 10px 13px 5px 15px;
    padding: 10px;
    margin: 10px;
    border: 2px solid red;
}*/
    
    body {
        font-family: 'Allerta', sans-serif;
    }
    
    .titulo {
        font-size: 70px;
        margin-bottom: 30px;
        margin-top: 70px;
    }
    
    .title-a {
        font-size: 59px;
        font-family: 'Montserrat', sans-serif;
        margin: auto;
    }
    
    .title-c {
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        margin: auto;
    }
    
    .title-b {
        font-size: 59px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 20px;
        margin: auto;
    }
    
    .Nuestros {
        font-size: 45px;
    }
    
    .background {
        background-image: url('../images/j.jpg');
        background-size: cover;
    }
    
    .portada {
        color: #ACAFBA;
        padding: 20px;
    }
    
    .portada button {
        margin-bottom: 70px;
    }
    
    .menu {
        font-size: 24px;
        display: inline-block;
        position: absolute;
        right: 0;
    }
    
    .menu li {
        display: inline-block;
    }
    
    .menu a {
        text-decoration: none;
    }
    
    .logotipo {
        display: inline-block;
    }
    
    .contenedor-de-tabla {
        width: 800px;
        margin: auto;
        position: relative;
        /*border: 1px solid black;*/
    }
    
    .software {
        margin: 10px;
        padding: 10px;
        overflow: hidden;
        border: 1px solid black;
        border-radius: 20px 40px 20px 20px;
    }
    
    .derecha {
        float: right;
        position: relative;
        top: 40px;
        margin-left: 60px;
    }
    
    .izquierda {
        float: left;
        position: relative;
        top: 30px;
        margin-right: 60px;
    }
    
    .header {
        position: relative;
        /*background: black;*/
    }
    
    .button {
        border-radius: 8px;
        background: red;
        border: red;
        width: 90px;
        height: 30px;
    }
    
    .footer {
        background: #595959;
        margin-top: 337px;
    }
    
    .contacto {
        display: flex;
        width: 300px;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }
    
    .contacto img {
        display: block;
    }
    
    .contacto strong {
        display: block;
    }
    
    .contacto a {
        color: black;
        text-decoration: none;
        margin: 10px 10px 10px 0;
    }
    
    .footer .contenedor {
        display: flex;
        justify-content: space-between;
    }
    
    .formulario {
        display: flex;
        width: 400px;
        color: white;
        padding: 50px 10px;
    }
    
    .cold1,
    .cold2 {
        display: flex;
        flex-direction: column;
    }
    
    .cold1 {
        margin-right: 15px;
    }
    
    .cold2 {
        align-items: flex-start;
    }
    
    .intereses label {
        font-size: 12px;
    }
    
    .formulario label,
    .sexo,
    .intereses {
        margin-bottom: 10px;
    }
    
    .sexo {
        margin-top: 10px;
    }
    
    table {
        width: 100%;
    }
    
    th {
        background: red;
    }
    
    th {
        padding: 10px 40px;
        text-align: left;
    }
    
    td {
        padding: 20px;
    }
    
    table,
    td,
    th {
        border: 1px solid black;
        border-collapse: collapse;
    }
    
    .table {
        margin: 50px 0;
        margin-top: 202px;
    }
    
    /////////////////////////////
    //////////
    //////////////
    //////////////////////////////////////
    //////////////////////////////////
    @font-face {
        font-family: 'icomoon';
        src: url('../fonts/icomoon.eot?n6v9g8');
        src: url('../fonts/icomoon.eot?n6v9g8#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?n6v9g8') format('truetype'), url('../fonts/icomoon.woff?n6v9g8') format('woff'), url('../fonts/icomoon.svg?n6v9g8#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    [class^="icon-"],
    [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change ../fonts */
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    .icon-phone:before {
        content: "\e942";
    }
    
    .icon-envelop:before {
        content: "\e945";
    }
    
    .icon-menu:before {
        content: "\e9bd";
    }
    
    .icon-close:before {
        content: "\ea0f";
    }
    /* * {
    width: tamaño;
    height: tamaño;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 13px;
    padding-bottom: 5px;
    padding: 10px 13px 5px 15px;
    padding: 10px;
    margin: 10px;
    border: 2px solid red;
}*/
    
    .burguer-button {
        width: 40px;
        border-radius: 50%;
        line-height: 40px;
        height: 40px;
        background: #395667;
        display: inline-block;
        text-align: center;
        position: absolute;
        cursor: pointer;
        left: 20px;
        top: 20px;
        z-index: 3;
    }
    
    body {
        font-family: 'Allerta', sans-serif;
    }
    
    .titulo {
        font-size: 70px;
        margin-bottom: 30px;
        margin-top: 70px;
        color: red;
    }
    
    .title-a {
        font-size: 59px;
        font-family: 'Montserrat', sans-serif;
        margin: auto;
    }
    
    .title-c {
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        margin: auto;
        color: red;
    }
    
    .title-b {
        font-size: 59px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 20px;
        margin: auto;
    }
    
    .Nuestros {
        font-size: 45px;
    }
    
    .portada {
        background-image: url('../images/j.jpg');
        background-size: 100%;
        color: rgb(115, 116, 119);
        padding: 20px;
        height: 500px;
    }
    
    .portada button {
        margin-bottom: 70px;
    }
    
    .menu {
        font-size: 24px;
        display: inline-block;
        position: absolute;
        right: 0;
    }
    
    .menu li {
        display: inline-block;
    }
    
    .menu a {
        text-decoration: none;
        color: red;
    }
    
    .logotipo {
        display: inline-block;
    }
    
    .contenedor {
        max-width: 800px;
        margin: auto;
        /*border: 1px solid black;*/
    }
    
    .software {
        margin: 10px;
        padding: 10px;
        overflow: hidden;
        border: 1px solid black;
        border-radius: 20px 40px 20px 20px;
    }
    
    .derecha {
        float: right;
        position: relative;
        top: 40px;
        margin-left: 60px;
    }
    
    .izquierda {
        float: left;
        position: relative;
        top: 30px;
        margin-right: 60px;
        bottom: 100px;
    }
    
    .header {
        position: relative;
    }
    
    .button {
        border-radius: 8px;
        background: red;
        border: red;
        /*width: 110px;
        height: 30px;*/
        font-size: 17px;
        background: linear-gradient(to left, orange, red);
        padding: 7px 12px;
        cursor: pointer;
        text-decoration: none;
        color: white;
    }
    
    .footer {
        background: #595959;
    }
    
    .contacto {
        /*display: flex;*/
        width: 300px;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        margin-top: 60px;
    }
    
    .contacto img {
        display: block;
    }
    
    .contacto strong {
        display: block;
    }
    
    .contacto a {
        color: black;
        text-decoration: none;
        margin: 10px 10px 10px 0;
    }
    
    .footer .contenedor {
        display: flex;
        justify-content: space-between;
    }
    
    .formulario {
        display: flex;
        width: 400px;
        color: white;
        padding: 30px 9px;
    }
    
    .cold1,
    .cold2 {
        display: flex;
        flex-direction: column;
    }
    
    .cold1 {
        margin-right: 15px;
    }
    
    .cold2 {
        align-items: flex-start;
    }
    
    .cold2 .button {
        margin-top: 15px;
    }
    
    .intereses label {
        font-size: 12px;
    }
    
    .formulario label,
    .sexo,
    .intereses {
        margin-bottom: 10px;
    }
    
    .sexo {
        margin-top: 10px;
    }
    
    .menu li:before {
        content: '°';
        font-size: 35px;
        line-height: 20px;
        color: red;
    }
    
    input,
    textarea {
        outline: 0;
    }
    
    input:focus,
    textarea:focus {
        background: lightgray;
    }
    
    @media screen and (max-width:800px) {
        /*  body {
            border: 10px solid red;
        }*/
        /*.contenedor {
            width: auto;
            max-width: 800px;
        }*/
        /*PORTADA*/
        .titulo {
            font-size: 45px;
            margin-top: 30px;
        }
        .title-a {
            font-size: 18px;
        }
        .portada {
            height: auto;
        }
        .portada .button {
            margin-bottom: 30px;
            display: inline-block;
        }
        /*SOFWARE*/
        .SOFTWARE {
            border: 1px solid red;
            text-align: center;
        }
        .izquierda,
        .derecha {
            float: none;
            position: static;
        }
        .title-b {
            margin: 0;
        }
        .software li {
            list-style: none;
        }
        .software.b {
            height: auto;
        }
        .contenedor-SOFTWARE-b {
            position: static;
            margin: 0;
        }
    }
    
    @media screen and (max-width:767px) {
        .footer .contenedor {
            display: block
        }
        .contacto {
            margin: 0 auto;
        }
        .formulario {
            display: block;
            margin: 0 auto;
            width: 300px;
        }
        .intereses label {
            display: block;
            font-size: 16px;
        }
        .cold1 {
            margin: 0;
        }
        input[type="text"],
        input[type="email"] {
            font-size: 16px;
            padding: 5px;
        }
        textarea {
            width: 100%;
        }
        input[type="radio"] input[type="checkbox"] {
            zoom: 1.5;
        }
    }
    
    @media screen and (max-width:650px) {
        .header {
            text-align: center;
        }
        .logotipo {
            margin: 0;
        }
        .menu {
            position: static;
            display: block;
        }
        .menu li:first-child {
            margin: 0;
        }
        .menu ul {
            padding: 0;
        }
    }
    
    @media screen and (max-width:500px) {
        .portada .contenedor {
            position: static;
        }
        .menu {
            /*border: 1px solid red;*/
            background: rgba(255, 60, 88, .8);
            position: absolute;
            left: -100%;
            top: 0;
            z-index: 2;
            bottom: 0;
            right: 0;
            display: flex;
            align-items: center;
            width: 100%;
            transition: .3s;
        }
        .menu.active {
            left: 0;
        }
        .menu a {
            color: white;
        }
        .menu ul {
            /* width: 100%;*/
            flex: 1;
        }
        .menu li {
            display: block;
            margin: 0;
            padding: 8px 0;
            border-bottom: 1px solid white;
        }
        .menu li:before {
            display: none;
        }
        .menu li:first-child {
            border-top: 1px solid white;
        }
        .portada {
            text-align: center;
        }
        .titulo {
            font-size: 30px;
        }
        .title {
            font-size: 16px;
        }
        /*software*/
        .SOFTWARE img {
            width: 200px;
            height: auto;
        }
        .title-b {
            font-size: 30px;
        }
        .derecha {
            margin-left: 0;
        }
        .izquierda {
            margin-right: 0;
        }
    }
    /*
 .video {
     width: 100%;
 }*/
    
    .video-responsive-contenedor {
        position: relative;
        padding-top: 56.25%;
    }
    
    .video-responsive-src {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    
    @media screen and (-webkit-min-device-pixel-ratio:2) {
        /*  body {
         border: 10px solid red;
     }*/
        .background {
            background-image: url('../images/j.jpg')
        }
    }